<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ca.parquette.lighting.server</string>
	<key>WorkingDirectory</key>
	<string>/ProjectPath/python/parquette-lights</string>
	<key>ProgramArguments</key>
	<array>
		<string>/ProjectPath/python/parquette-lights/launch.sh</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/user/Library/Logs/ca.parquette.lighting.server.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/user/Library/Logs/ca.parquette.lighting.server.err.log</string>
</dict>
</plist>
